---
// STYLE
import '../styles/global.css';

// FONTS
import '@fontsource/geist-sans';
import '@fontsource/geist-mono';

// COMPOSANTS
import Footer from '../components/site/Footer.astro';
import Navbar from '../components/site/Navbar.astro';
import { Toaster } from '../components/ui/Toaster';

// PROPS
interface Props {
	title?: string;
	description?: string;
}

const { 
	title = "J.A. - Concepteur Développeur Web Front-End / Full-Stack", 
	description = "Portfolio de Jonathan Araldi, concepteur développeur web. Architectures modernes, performantes, code rigoureux et documentation exhaustive. React, TypeScript, Astro." 
} = Astro.props;
---

<!doctype html>
<html lang="fr" class="dark">
	<head>
		<!--=============== BALISES META ===============-->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Jonathan" />
		<meta name="copyright" content="© Jonathan Araldi" />
		
		<!-- Meta données pour Open Graph (Facebook, LinkedIn, etc.) -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://portfolio-jonathan-araldi.netlify.app/" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://portfolio-jonathan-araldi.netlify.app/preview-1-og-image.jpg" />
		
		<!-- Meta données pour Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content="https://portfolio-jonathan-araldi.netlify.app/" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://portfolio-jonathan-araldi.netlify.app/preview-1-og-image.jpg" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{title}</title>

		<!--=============== SCHEMA.ORG ===============-->
		<script type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "Person",
				"name": "Jonathan Araldi",
				"description": "Portfolio de Jonathan Araldi, concepteur développeur web.",
				"jobTitle": "Concepteur Développeur Web",
				"url": "https://portfolio-jonathan-araldi.netlify.app/",
				"sameAs": [
					"https://www.linkedin.com/in/jonathan-araldi/",
					"https://github.com/Skies-Land"
				]
			}
		</script>
	</head>

	<body>
		<div class="relative min-h-screen flex flex-col">
			<Navbar />
			<main class="flex-1">
				<slot />
			</main>
			<Footer />
		</div>
		<Toaster client:load />
	</body>
</html>
